/* article section */
h1 {
    font-size: 1.9rem;
}

p {
    font-size: 1.1rem;
}

.text p {
    font-size: .9rem;
}

h1, h2, h3, h4 ,h5, h6, p {
    color: var(--first);
}

.container {
    width: 96%;
    max-width: 117rem;
    margin: 0 auto;
    overflow-y: hidden;
}

.hero {
    max-width: 114rem;
    height: 40rem;
    background: url() no-repeat center center / cover;
    margin: 5rem auto;
}

main {
    width: 100%;
    max-width: 65rem;
    background-color: var(--article);
    margin: 0 auto;
    padding: 3rem;
    margin-top: -30rem;
}

main h2 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
}

html[data-theme="light"] main h2 {
    color: var(--articleDetails);
}

main .profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem 0;
}

main .profile-container .profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .profile-container .profile .img-container {
    width: 4rem;
    height: 4rem;
    background: url(../src/uploads/profiles/default-user.jpg) no-repeat center center / cover;
    border-radius: 0.5rem;
}

main .profile-container .profile .text {
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

html[data-theme="light"] main .profile-container .profile .text > * {
    color: var(--articleDetails);
}

main ::placeholder {
    color: var(--p-text);
}

.profile .text h3 {
    text-transform: uppercase;
}

main .content p {
    color: var(--p-text);
    margin: 1rem 0;
    letter-spacing: 0.5px;
}

main .content h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--p-text);
    margin: 2rem 0;
}

main .content .content-img-container {
    width: 100%;
    height: 35rem;
    background: url(../src/blog-detail.jpg) no-repeat center center / cover;
}

blockquote {
    font-size: 1.4rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 0.5rem 0 0 var(--details);
    background-color: var(--fifth);
}

.tags {
    display: flex;
    align-items: center;
}

.tags a {
    display: inline-block;
    padding: 0.3rem 1.5rem;
    background-color: var(--fifth);
    color: var(--p-text);
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
}

html[data-theme="light"] .tags a {
    background-color: var(--fifth);
}