/* manageArticle section */
input#titlebox,
textarea,
input#fileToUpload,
input[type="text"]#topic-bar {
    background-color: var(--fifth) !important;
    color: var(--first) !important;
    border-color: var(--fifth);
}

label {
    color: var(--first);
}

input#fileToUpload {
    color: var(--first) !important;
}

.btn {
    background-color: var(--details) !important;
    border: 1px solid var(--details) !important;
    color: var(--first) !important;
    margin-left: 20px !important;
}

.btn:hover {
    background-color: var(--first) !important;
    border: 1px solid var(--first) !important;
    color: var(--details) !important;
}

main input[type="text"]#topic-bar {
   font-size: 1.4rem !important;
}

main input[type="text"]#topic-bar:focus {
    outline: none !important;
}

.topic-selection.row {
    display: block;
    margin: 0;
}

.topic-selection.row input[type="text"] {
    font-size: 1rem !important;
    background-color: var(--fifth);
    color: var(--first);
}

.formDiv .row {
    margin-top: 0px;
}

main .formDiv .row3 textarea {
    margin-bottom: 40px;
    font-size: 1.1rem !important;
    color: var(--p-text) !important;
}

.row.settings {
    display: flex;
}