/* signup section */
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--third);
}

.formDiv .row2 {
    grid-gap: 20px;
}